.containerApresentation {
  height: 100vh;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.divHello {
  position: absolute;
  top: 400px;
}
.divDev {
  position: absolute;
  top: 530px;
}
.title {
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  max-width: fit-content;
  font-weight: 500;
}
.textDev {
  animation: digitaNome 3s steps(40) 1s normal both;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid rgb(0, 0, 0);
  margin: auto;
  max-width: fit-content;
}

@keyframes piscaCursor {
  from {
    border-right-color: rgb(0, 0, 0);
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes digitaNome {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3em;
  }
  .divHello {
    position: absolute;
    top: 380px;
  }
  .divDev {
    position: absolute;
    top: 500px;
  }
}
