.containerApresentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconReact {
  animation: wheelIcon 10s linear infinite;
  width: 200px;
  height: 200px;
  margin-top: 190px;
  color: var(--default-color);
  filter: drop-shadow(1px 2px 8px var(--default-color));
  margin-bottom: 50px;
}
.title {
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  max-width: fit-content;
  font-weight: 500;
}
.textDev {
  animation: digitaNome 3s steps(40) 1s ease-in-out both;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid rgb(0, 0, 0);
  margin: auto;
  max-width: fit-content;
}
.iconsSocial {
  width: 400px;
  text-align: center;
  margin: 15px;
}
.iconsSocial a{
  color: white;
}
.icon {
  transition: .3s;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.icon:hover {
  transition: .3s;
  color: var(--default-color);

}

@keyframes piscaCursor {
  from {
    border-right-color: rgb(0, 0, 0);
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes digitaNome {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@keyframes wheelIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3em;
  }
}
