.btn {
    position: fixed;
    bottom: 70px;
    right: 70px;
    background-color: transparent;
    border: 2px solid rgb(0, 173, 111);
    width: 100px;
    height: 100px;
    color: rgb(0, 173, 111);
    border-radius: 50%;
}


@keyframes iconBtn {
    0% {
        transform: scale(0.5);
    }
    50% {transform: scale(1.2);
    }
    100% {transform: scale(0.5);
    }
  }
.iconBtn {
    font-size: 50px;
    animation: iconBtn 2s infinite ease-in-out;
}

@media (max-width: 1000px) {
    
    .btn {
        width: 70px;
        height: 70px;
        right: 20px;
        bottom: 20px;
    }
}
@media (max-width: 768px) {
    
    
}