.mainContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 20px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input,
.form textarea {
  background-color: rgb(255, 255, 255);
  border: none;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin: 10px;
  color: white;
  background-color: var(--default-color);
  width: 60%;
  height: 200px;
  padding: 20px;
  text-align: center;
}
.form input {
  width: 60%;
  height: 50px;
}
.form input::placeholder,
.form textarea::placeholder {
  color: rgb(255, 255, 255);

  font-weight: bold;
}

.btnSend {
  border: none;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 60%;
  height: 50px;
  margin: 10px;
  color: rgb(19, 18, 18);
  border: 3px solid var(--default-color);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--default-color);
  transition: 0.5s;
}
.btnSend:hover {
  background-color: var(--default-color);
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.divForm,
.divSocial {
  width: 40%;
  padding: 25px;
}
.divSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.subContact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.puppet {
  width: 200px;
  padding: 20px;
}

.iconSocial {
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: 0.5s;
}
.iconSocial:hover {
  color: var(--default-color);
  transition: 0.5s;
}
.textContact {
    padding: 10px;
}

@media (max-width: 1400px) {
  .divForm,
  .divSocial {
    width: 50%;
    padding: 10px;
  }
  .mainContact {
    padding: 0;
  }
  .form input {
    width: 80%;
    height: 50px;
  }
  .form textarea {
    width: 80%;
  }
  .btnSend {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .subContact {
    flex-direction: column;
  }
  .divForm,
  .divSocial {
    width: 80%;
  }
  .btnSend {
    width: 80%;
  }
}


@media (max-width: 500px) {
    .mainContact {
        padding: 0;
    }
    .subContact {
        padding: 0;
    }
    .divForm,
  .divSocial {
    width: 100%;
  }
  .form input, .form textarea {
    width: 95%;
  }

  .btnSend {
    width: 95%;
  }
}