.containerProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin: auto;
  position: relative;
  background-color: black;
}

.btnLeft,
.btnRight {
  width: 100px;
  height: 50px;
  position: absolute;
  border: 3px solid rgb(51, 253, 0);
  background-color: rgb(51, 253, 0);
}
.btnRight {
  right: 5em;
}
.btnLeft {
  left: 5em;
}

.box {
  width: 28em;
  height: 23em;
  background-color: black;
  border: 3px solid rgb(51, 253, 0);
  transition: opacity 0.5s ease-in-out;
  margin: 0 10px; /* Adicione margem entre as caixas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left,
.right {
  opacity: 0.3;
  position:absolute;
}
.center {
  z-index: 11;
}
.right {
  right:45%;
}
.left {
 left: 45%;
}

.projectLink {
  background-color: rgb(51, 253, 0);
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}