.divFooter {
    border-top: 3px solid rgb(30, 255, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.logo {
    width: 200px;
    margin: auto;
    height: 200px;
}
.copy {
    margin: auto;
    margin: 0px 0px 30px 0px;
}