:root {
  --background-color-light: #e7dcdc;
  --text-color-light: #000000;
  --background-color-dark: #302f2f;
  --text-color-dark: #ffffff;
  --title-color-light: #0a0a0a;
  --title-color-dark: #f8f8f8;
  --nvft-color-dark: #202020;
  --nvft-color-light: #6e6d6d;
  --subtitle-color-light: rgb(0, 173, 111);
  --subtitle-color-dark: rgb(0, 173, 111);

  --default-color: rgb(0, 173, 111)
}

body.dark-mode {
  background-color: var(--background-color-dark);
}
body.light-mode {
  background-color: var(--background-color-light);
}
.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.navbar-black {
  background-color: var(--nvft-color-dark);
  color: var(--text-color-dark);
}

.navbar-white {
  background-color: var(--nvft-color-light);
  color: var(--text-color-dark);
}

.text-light li a {
  color: var(--text-color-light);
}
.text-dark li a {
  color: var(--text-color-dark);
}
.text-dark li a:hover {
  text-shadow: 2px 2px 7px var(--title-color-light);
}
.text-light li a:hover {
  text-shadow: 0px 2px 5px var(--text-color-light);
}

.icon-dark div .iconsSKills {
  color: var(--text-color-dark);
}
.icon-light div .iconsSKills {
  color: var(--text-color-light);
}

.title-dark {
  color: var(--title-color-dark);
}
.title-light {
  color: var(--title-color-light);
}

.footer-black {
  background-color: var(--nvft-color-dark);
  color: var(--text-color-dark);
}

.footer-white {
  background-color: var(--nvft-color-light);
  color: var(--text-color-dark);
}

.title-dark {
  color: var(--default-color);
}
.title-light {
  color:var(--default-color);
  text-shadow: 1px 1px 12px var(--default-color);
}

.name-dark {
  color: #6e6d6d;
  text-shadow: 1px 1px 12px var(--default-color);
}
.name-light {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 12px var(--default-color);
 }
.about-white {
  background-color: var(--nvft-color-light);
  color: var(--text-color-light);
}
.about-black {
  background-color: var(--nvft-color-dark);
  color: var(--text-color-dark);
}

.icon-hover-dark .divIcon:hover {
  color: var(--default-color);
  filter: drop-shadow(1px -1px 5px var(--default-color));
}
.icon-hover-light .divIcon:hover {
  color: var(--default-color);
  filter: drop-shadow(1px -1px 5px var(--default-color));
}

.lightOn::after,
.lightOff::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  left: 50px;
  height: 50px;
  background-color: rgb(149, 151, 148);
}
.lightOn::before,
.lightOff::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 20px;
  left: 41px;
  border-radius: 50%;
  height: 20px;
  z-index: 2;
}
.lightOn::before {
  background-color: rgb(209, 245, 5);
  filter: drop-shadow(1px 1px 14px rgb(253, 253, 253));
}
.lightOff::before {
  background-color: rgb(157, 170, 89);
}

.projects-white {
  background-color: var(--nvft-color-light);
  color: var(--text-color-light);
}
.projects-black {
  background-color: var(--nvft-color-dark);
  color: var(--text-color-dark);
}

.box-black {
  background-color: #e7dcdc;
  color: rgb(0, 0, 0);
}
.link-black {
  color: rgb(0, 0, 0);
}

.link-white {
  color: white;
}

.box-white {
  background-color: #302f2f;
  color: white;
}

.subtitle-dark {
  color: var(--subtitle-color-dark);
}
.subtitle-light {
  color: var(--subtitle-color-light);
}
